* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: linear-gradient(to right, #fff 50%, #000 50%);
  height: 100vh;
}


/* NAVBAR */

nav {
  display: flex;
  gap: 50px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px 80px;
}

.navbar nav {
  margin-left: auto;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: orange;
}

.logo h3 {
  color: #000;
}

.logo p {
  font-size: 12px;
  color: gray;
}

.icons {
  font-size: 18px;
}

/* HERO */
.hero {
  display: flex;
  height: 80vh;
}

.left {
  width: 50%;
  padding: 100px;
}

.left h4 {
  color: orange;
  letter-spacing: 2px;
}

.left h1 {
  font-size: 70px;
  color: orange;
  margin: 20px 0;
}

.left p {
  width: 300px;
  color: gray;
  margin-bottom: 50px;
}

.btn {
  padding: 15px 35px;
  background: orange;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

/* LADO DERECHO */
.right {
 width: 50%;               
  display: flex;
  justify-content: center;   
  align-items: center;       
  position: relative;
  background: black; 
}

.burger img {
 width: 750px;     /* Tamaño balanceado */
  display: block;
  position: relative;
  z-index: 5;
}
.burger {
  position: relative;
  left: -380px;   /* La mueve un poquito hacia el lado blanco */
}
.mini-burgers {
position: absolute;
  right: 50px;
  top: 40px;     /* ✅ SUBE LAS IMÁGENES */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mini-burgers img {
  width: 230px;
  background: white;
  padding: 5px;
  border-radius: 10px;
}


