body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: black;
}

.menu {
  text-align: center;
  padding: 60px 100px;
}

.menu h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: white;
}

.descripcion {
  color: white;
  margin-bottom: 50px;
}

.grid-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  filter: brightness(60%);
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 25px;
  text-align: left;
}

.info h3 {
  margin: 0;
  font-size: 18px;
}

.info span {
  margin: 10px 0;
  color: #ff4d4d;
  font-weight: bold;
}

.info button {
  background: red;
  border: none;
  color: white;
  padding: 10px 18px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
}

.info button:hover {
  background: darkred;
}

.copy {
  margin-top: 30px;
  font-size: 12px;
  color: #777;
}
